@import "base/variables";
@import "base/extends";
@import "components/footer";
@import "components/header";
@import "components/main";



* {
    margin: 0%;
    padding: 0%;

    body {
        background-color: #9e9e74a8;
    }

    section {
        img {
            flex: 5%;
            padding-left: 0.5%;
        }

        .carrousel-menu {
            display: none;
        }

        .carrousel {
            display: flex;
            gap: 10px;
            justify-content: center;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                max-width: 500px;
                scroll-behavior: smooth;
            }
        }

        .carrousel-fotos {
            img {
                width: 400px;
                height: 300px;
                object-fit: contain;

            }

            display: flex;
            gap: 10px;
            overflow: auto;
        }

        @media screen and (min-width: 500px) {
            .carrousel-fotos {
                overflow: hidden;

                img {
                    width: 500px;
                    height: 400px;
                }
            }

            .carrousel-menu {
                display: block;
                margin-top: 20px !important;
                gap: 20px;

                img {
                    width: 70px;
                    height: 60px;
                    border: 5px solid #6d8661;
                    gap: 30px;

                    &:hover {
                        transition: 2s;
                        transform: scale(1.2);
                    }
                }
            }
        }





        color: $font-color;

        .texto {
            @extend %estilos-textos;

        }

        .titulos {
            @extend %estilos-titulos;

            &:hover {
                color: $bg-hover;
            }
        }
    }

    .menu-cabanas {
        margin: 0%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        text-decoration: none;


        a {
            color: $font-color;
            font-family: $font-style-title;
            font-size: 1.7em;
            text-decoration: none;


            &:hover {
                color: $bg-hover;
                transform: scale(1, 3);
                transition: all 2s;
            }

        }


        .image-muestra {
            width: 100%;
            display: flex;
            
        }

    }

    .button {
        color: $font-color;
        font-family: $font-style-title;
        font-size: 1.7em;
        text-decoration: none;
        display: flex;
        justify-content: end;
        padding-right: 10%;
        padding-top: 5%;

        &:hover {
            color: $bg-hover;
        }

    }



    .grid-container {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
        justify-content: center;

        .grid-item {
            width: 100%;
            height: 100%;

            &:hover {
                @extend %hover-fotos;

            }
        }
    }



    .grid-ubicacion {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }

    .referencias {
        padding-top: 3%;
        line-height: 50px;
        font-family: $font-style-text;
        padding-left: 5%;
    }



    .mapa {
        position: relative;
        width: 100%;
    }

    .iframe {
        width: 95%;
        height: 100%;
    }

    .container {
        max-width: 100%;
    }

    .form-group {
        padding-right: 15%;
        padding-left: 15%;
    }

    .texto-uno {
        padding-left: 15%;
        padding-top: 10%;
    }
    .btn-primary {
        color:black;
        background-color: #6d8661;
        border: black;
       
        &:hover {
            background-color: #6d8661;
            color: white;
            border: black;

        }

    }


}